<section class="about-me" id="about">
  <div class="about-flex-container">
    <div class="mugshot"></div>
    <div class="about-ico2"></div>
    <div class="about-ico3"></div>
    <div class="about-ico4"></div>
    <div class="about-ico5"></div>
    <div class="about-ico6"></div>
    <div class="about-ico7"></div>
  </div>

  <h3>About Me</h3>
  <p>I am Saram and I'm a Web Developer & Designer. I'm fully gripped on the front end technologies and have knowledge
    of back end development. I also do designing and motion graphics. In my free time, I enjoy reading books and
    working out.</p>
</section>