<section class="about-me" id="about">
  <div class="about-flex-container">
    <div class="mugshot"></div>
    <div class="about-ico2"></div>
    <div class="about-ico3"></div>
    <div class="about-ico4"></div>
    <div class="about-ico5"></div>
    <div class="about-ico6"></div>
    <div class="about-ico7"></div>
  </div>

  <h3>About Me</h3>
  <p>I am Saram and I create web stuff. I like anything that goes well with a Pharata. I'm a gymnast who enjoys working out after sitting upto 15 hours a day coding. On weekends, I binge watch anime and practice jutsus in the corner.</p>
</section>
