<section class="contact" id="contact">
    <h3>Contact Me</h3>
    
    <div class="contact-wrap" id="contact">
        <div class="my-form">
            <form method="POST" action="https://formspree.io/saramcodes111@gmail.com">
                <p>
                    <input type="text" name="name" placeholder="Your Name">
                </p>
                <p>
                    <input type="email" name="email" placeholder="Your Email">
                </p>
                <p class="full">
                    <textarea name="message" rows='5' placeholder="Your Message"></textarea>
                </p>
                <p class="full">
                    <button type="submit">SUBMIT</button>
                </p>
            </form>
        </div>
        
        <div class="spaceship"></div>
    </div>


</section>