<main class="find-me" id="contact">
    <section class="find-me-main" data-sal="slide-left" data-sal-easing="ease-out-bounce" data-sal-duration="600">
        <div class="find-me-main-container">
            <div class="find-me-main-container-line"></div>
            <div class="find-me-main-container-line"></div>
            <div class="find-me-main-container-line"></div>
            <div class="find-me-main-container-line"></div>
            <div class="find-me-main-container-box"></div>
            <div class="find-me-main-container-box"></div>
            <div class="find-me-main-container-box"></div>
            <div class="find-me-main-container-box"></div>
            <div class="find-me-main-container-circle"></div>
            <div class="find-me-main-container-circle"></div>
            <h2>find me</h2>
        </div>
    </section>
    <section class="find-me-content">
        <div class="find-me-content-container" data-sal="slide-right" data-sal-easing="ease-out-bounce"
            data-sal-duration="600">
            <p>Leave a message or send me an email at
                <span>saramcodes111@gmail.com</span>. My github is
                <a href="https://github.com/saramcodes" target="_blank">here</a>.</p>
            <form method="POST" action="https://formspree.io/saramcodes111@gmail.com">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
                <textarea name="message" rows='5' placeholder="Message"></textarea>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </section>
</main>