<footer>

    <div class="copyright">

        <h3>&copy Saram Iqbal</h3>
        <p>All rights resereved</p>
    </div>

    <div class="foot-wrap">

        <div class="foot-links">
            <p>Contact me: saramcodes111@gmail.com</p>
        </div>
        
        
        <div class="icons">
            <p>Icons Provided by the following</p>
            <a href="https://www.flaticon.com/authors/freepik" target="_blank">Freepik</a><br>
            <a href="https://www.flaticon.com/authors/smashicons" target="_blank">SmashIcon</a><br>
            <a href="https://www.flaticon.com/authors/pixel-perfect" target="_blank">PixelPerfect</a><br>
        </div>
        
        
    </div>
</footer>