<main class="landing" id="about">
    <section class="landing-main">
        <div class="landing-main-container" data-sal="zoom-out" data-sal-easing="ease-out-bounce"
            data-sal-duration="600">
            <div class="landing-main-container-bg">
                <div class="light"></div>
                <div class="main"></div>
            </div>
            <div class="landing-main-container-designation">
                <div class="designer">
                    <p>d</p>
                    <p>e</p>
                    <p>s</p>
                    <p>i</p>
                    <p>g</p>
                    <p>n</p>
                    <p>e</p>
                    <p>r</p>
                </div>
                <div class="developer">
                    <p>d</p>
                    <p>e</p>
                    <p>v</p>
                    <p>e</p>
                    <p>l</p>
                    <p>o</p>
                    <p>p</p>
                    <p>e</p>
                    <p>r</p>
                </div>
            </div>
            <div class="landing-main-container-mugshot">
                <div class="main"></div>
                <div class="light"></div>
                <div></div>
            </div>
        </div>
    </section>
    <section class="landing-content">
        <div class="landing-content-container" data-sal="zoom-out" data-sal-easing="ease-out-bounce"
            data-sal-duration="600">
            <h1>I am Saram</h1>


            <p>Hi I’m Saram. I’m a <span>designer & developer</span>. I do web design and development, motion graphics
                and
                typography. My aim is to create and work on quality projects to make an impact. You can contact me at
                my mail <span>saramcodes111@gmail.com</span>. </span>View my portfolio here</span>.</p>

        </div>
    </section>
</main>