<div class="navbar">
    <div class="nav-skew"></div>
    <div class="nav-social-links">
        <div class="nav-social-links-holder">
            <div></div>
            <a href="https://github.com/saramcodes" target="_blank"></a>
        </div>
        <!-- <div class="nav-social-links-holder">
            <div></div>
            <a href="https://fiverr.com/saramcodes" target="_blank"></a>
        </div> -->
    </div>
    <div class="nav-hamburger">
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="nav-overlay"></div>
<nav>
    <div class="mugshot-bg">
        <div class="mugshot"></div>
    </div>
    <div class="nav-info">
        <h3>Saram Iqbal</h3>
        <p>saramcodes111@gmail.com</p>
    </div>

    <div class="nav-links">
        <a href="#about">about</a>
        <a href="#skills">skills</a>
        <a href="#portfolio">portfolio</a>
        <a href="#contact">contact</a>
    </div>
</nav>