<main class="portfolio" id="portfolio">
    <section class="portfolio-main">
        <div class="portfolio-main-container" data-sal="slide-right" data-sal-easing="ease-out-bounce"
            data-sal-duration="600">
            <div class="portfolio-main-p">
                <div>
                    <h2>portfolio</h2>

                </div>
                <div>
                    <h2>portfolio</h2>

                </div>
            </div>
            <div class="portfolio-main-a">
                <div>
                    <h2>and</h2>

                </div>
                <div>
                    <h2>and</h2>

                </div>
            </div>
            <div class="portfolio-main-w">
                <div>
                    <h2>work</h2>

                </div>
                <div>
                    <h2>work</h2>

                </div>
            </div>
        </div>

    </section>
    <section class="portfolio-content" data-sal="slide-left" data-sal-easing="ease-out-bounce" data-sal-duration="600">
        <div class="portfolio-work" data-work="school management system">
            <div class="portfolio-work-overlay"></div>
            <div class="portfolio-work-overlay-bg"></div>
            <div class="portfolio-work-text">
                <p></p>
            </div>
            <div class="portfolio-work-magnify"></div>
        </div>
        <div class="portfolio-work" data-work="react-discord-mockup">
            <div class="portfolio-work-overlay"></div>
            <div class="portfolio-work-overlay-bg"></div>
            <div class="portfolio-work-text">
                <p></p>
            </div>
            <div class="portfolio-work-magnify"></div>
        </div>
        <div class="portfolio-work" data-work="beat player">
            <div class="portfolio-work-overlay"></div>
            <div class="portfolio-work-overlay-bg"></div>
            <div class="portfolio-work-text">
                <p></p>
            </div>
            <div class="portfolio-work-magnify"></div>
        </div>
        <div class="portfolio-work" data-work="interactive material mockup">
            <div class="portfolio-work-overlay"></div>
            <div class="portfolio-work-overlay-bg"></div>
            <div class="portfolio-work-text">
                <p></p>
            </div>
            <div class="portfolio-work-magnify"></div>
        </div>
        <div class="portfolio-work" data-work="aammn">
            <div class="portfolio-work-overlay"></div>
            <div class="portfolio-work-overlay-bg"></div>
            <div class="portfolio-work-text">
                <p></p>
            </div>
            <div class="portfolio-work-magnify"></div>
        </div>
        <div class="portfolio-work" data-work="tiktak clone backend">
            <div class="portfolio-work-overlay"></div>
            <div class="portfolio-work-overlay-bg"></div>
            <div class="portfolio-work-text">
                <p></p>
            </div>
            <div class="portfolio-work-magnify"></div>
        </div>
        
        <div class="portfolio-work" data-work="tiktak clone frontend">
            <div class="portfolio-work-overlay"></div>
            <div class="portfolio-work-overlay-bg"></div>
            <div class="portfolio-work-text">
                <p></p>
            </div>
            <div class="portfolio-work-magnify"></div>
        </div>
    </section>

</main>
