<section class="skills">
  <h3>Skills I have</h3>

  <div class="flex-wrapper">

    <div class="left-side">

      <p>Web Design</p>
      <p class="perc">90%</p>
      <div class="empty-loadbar">
        <div class="bar1">
        </div>
      </div>

      <p>Web Development</p>
      <p class="perc">90%</p>
      <div class="empty-loadbar">
        <div class="bar1">
        </div>
      </div>

      <p>Web Design</p>
      <p class="perc">80%</p>
      <div class="empty-loadbar">
        <div class="bar1">
        </div>
      </div>

    </div>

    <div class="right-side">
    </div>
  </div>

</section>
