<section class="tools">
  <h3>Tools i use</h3>

  <div class="flex-wrap">
    <div class="left-side"></div>

    <div class="right-side">

      <p>Django</p>
      <p class="perc">95%</p>
      <div class="empty-loadbar">
        <div class="bar1">
        </div>
      </div>

      <p>Javascript</p>
      <p class="perc">80%</p>
      <div class="empty-loadbar">
        <div class="bar1">
        </div>
      </div>

      <p>CSS3</p>
      <p class="perc">95%</p>
      <div class="empty-loadbar">
        <div class="bar1">
        </div>
      </div>

      <p>Python</p>
      <p class="perc">95%</p>
      <div class="empty-loadbar">
        <div class="bar1">
        </div>
      </div>
    </div>
  </div>
  <p>"Well, I use a lot more tools than the ones stated above but these are the ones I use the most. All these ratings are my subjective opinion."</p>
</section>
