.skills
    position: relative
    padding: 50px 0 50px 0
    overflow: hidden
    min-height: 100vh
    width: 100vw
    display: flex
    align-items: center
    align-content: center
    justify-content: center
    flex-wrap: wrap

    section
        flex-shrink: 0
.skills-bg-light, .skills-bg-dark
    height: 100%
    width: 50px
    background: $main-color
    position: absolute
    top: 0
    left: 0
.skills-bg-dark
    display: none
    background: $secondary-color


.skills-content
    min-height: 200px
    flex-basis: 100%
    margin-bottom: 80px
.skills-content-container
    position: relative
    height: 100%
    width: 90%
    padding-left: 65px    
    p
        line-height: 2
        font-size: 13px
        font-weight: 400



.skills-main
    height: 200px
    flex-basis: 100%
    // background: #000
.skills-main-container
    position: relative
    height: 100%
    width: 300px

.skills-main-flex
    position: absolute
    display: flex
    align-items: center
    align-content: center
    height: 35px
    background: $main-color

    width: 300px
    left: 0

    &:nth-child(1)
        top: 0
        .skills-icon
            background:
                image: url(../images/vector/programmer.svg) 
    &:nth-child(2)
        top: 50%
        transform: translateY(-50%)
        .skills-icon
            background:
                image: url(../images/vector/m-design.svg)
    &:nth-child(3)
        top: 100%
        transform: translateY(-100%)
        .skills-icon
            background:
                image: url(../images/vector/g-design.svg)


.skills-icon
    height: 35px
    flex-basis: 52px
    background:
        size: 30px 30px
        position: center center
        repeat: no-repeat
.skills-individual
    display: flex
    align-items: center
    align-content: center
    height: 35px
    p
        padding-left: 10px
        font-size: 13px
        font-weight: 400
        text-transform: capitalize




@media screen and (min-width: 640px)
    .skills
        flex-wrap: nowrap
        justify-content: space-between
        padding: 50px 50px 50px 0
    .skills-content
        order: 1
        margin-bottom: 0
        flex-basis: 280px
    .skills-content-container
        position: static
        padding-left: 0
        width: 100%

    .skills-main
        flex-basis: 350px
    .skills-main-container   
        width: 100% 

@media screen and (min-width: 920px)
    .skills-content
        flex-basis: 320px
    .skills-bg-light
        width: 85px
    .skills-main
        height: 250px
        flex-basis: 400px
    .skills-main-flex
        width: 400px
        height: 45px
    .skills-icon
        flex-basis: 85px
        background-size: 40px 40px
        height: 45px
    .skills-individual
        height: 45px
        p
            font-size: 15px
    .skills-content-container
        p
            font-size: 15px    
@media screen and (min-width: 1020px)
    .skills
        padding: 50px 170px 50px 0
    .skills-content
        flex-basis: 400px    
    .skills-bg-dark
        display: block    
        width: 100px
        transform: translateX(80px)