---
---
$baseurl: "{{ site.baseurl }}"

@font-face
  font-family: Poppins
  src: url($baseurl + "../fonts/Poppins-ExtraLight.ttf")
  font-weight: 100
  

@font-face
  font-family: Poppins
  src: url($baseurl + "../fonts/Poppins-Light.ttf")
  font-weight: 300
  

@font-face
  font-family: Poppins
  src: url($baseurl + "../fonts/Poppins-Regular.ttf")
  font-weight: 400


@font-face
  font-family: Poppins
  src: url($baseurl + "../fonts/Poppins-Medium.ttf")
  font-weight: 500 

@font-face
  font-family: Poppins
  src: url($baseurl + "../fonts/Poppins-SemiBold.ttf")
  font-weight: 600   

@font-face
  font-family: Poppins
  src: url($baseurl + "../fonts/Poppins-Bold.ttf")
  font-weight: 700   

@font-face
  font-family: Poppins
  src: url($baseurl + "../fonts/Poppins-ExtraBold.ttf")
  font-weight: 800        

@font-face
  font-family: Poppins
  src: url($baseurl + "../fonts/Poppins-Black.ttf")
  font-weight: 1000     


@import typography
@import animations
@import colors
@import header
@import about
@import skills
@import tools
@import showcase
@import education
@import my-links
@import spinner
@import contact
@import thatsall 
@import footer

html
  overflow-x: hidden
body
  background-color: #333
  margin: 0px
  padding: 0px
  overflow-x: hidden
