<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
  <title>{{site.name}}</title>
</head>
<body>
  {% include header.html %}
  {% include about.html %}
  {% include skills.html %}
  {% include tools.html %}
  {% include showcase.html %}
  {% include education.html %}
  {% include my-links.html %}
  {% include contact.html %}
  {% include thatsall.html %}
  {{content}}
  {% include footer.html %}

  <script src="{{ 'assets/js/jquery.min.js'}}"></script>  
  <script src="{{ 'assets/js/main.js'}}"></script>
</body>
</html>
