<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Saram Iqbal's Portfolio">
  <meta name="keywords" content="HTML,CSS,Django,Javascript,Web Design,Web Apps, Web Development">
  <meta name="author" content="Saram Iqbal">
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
  <title>{{site.name}}</title>
</head>
<body>
  <!-- This html document has been developed by Saram Iqbal -->
  {% include header.html %}
  <!-- I'mma flip all these tables for no apparent reason (┛❍ᴥ❍ )┛彡┻━┻ (ノಠ益ಠ)ノ彡┻━┻ (ﾉಥ益ಥ）ﾉ ┻━┻ -->
  {% include about.html %}
  <!-- Developed By Saram Iqbal -->
  {% include skills.html %}
  {% include tools.html %}
  {% include showcase.html %}
  {% include education.html %}
  <!-- I'mma flip all these tables for no apparent reason (┛❍ᴥ❍ )┛彡┻━┻ (ノಠ益ಠ)ノ彡┻━┻ (ﾉಥ益ಥ）ﾉ ┻━┻ -->
  
  {% include my-links.html %}
  {% include contact.html %}
  <!-- I'mma flip all these tables for no apparent reason (┛❍ᴥ❍ )┛彡┻━┻ (ノಠ益ಠ)ノ彡┻━┻ (ﾉಥ益ಥ）ﾉ ┻━┻ -->

  {% include thatsall.html %}
  {{content}}
  <!-- Developed By Saram Iqbal -->  
  {% include footer.html %}
  <!-- Developed By Saram Iqbal -->
  

  <script src="{{ 'assets/js/jquery.min.js'}}"></script>  
  <script src="{{ 'assets/js/main.js'}}"></script>
</body>
</html>
